html, body {
    color: #636b6f;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
    font-size: 16px;
}
.m-b-30{
    margin-bottom: 30px;
}

/*
 * Adjust brand section and menu item
 * make it visually centralized
 */
a.navbar-brand { 
    width: 70%;
    text-align: right;
}

div#navbarNavDropdown {
    width: 50%;
    margin-left: 100px;
}

/* Style adjustment for footer section */
nav#footer {
    position: relative;
    height: 350px;
    margin-top: 100px;
}

div#copyright {
    position: absolute;
    height: 50px;
    bottom: 0;
    font-size: .8rem;
}

/* footer-component */
@media (max-width: 575px) {
    #footer{
        font-size: 1.2rem;
    }
    .mr-auto-sm {
        margin-right: auto!important;
    }
    .text-align-sm {
        text-align: center;
    }
}