html, body {
    color: #636b6f;
    font-family: 'Antic Slab', serif;
    height: 100vh;
    margin: 0;
    font-size: 16px;
}
.m-b-30{
    margin-bottom: 30px;
}
/* footer-component */
@media (max-width: 575px) {
    #footer{
        font-size: 1.2rem;
    }
    .mr-auto-sm {
        margin-right: auto!important;
    }
    .text-align-sm {
        text-align: center;
    }
}