html, body {
    color: #636b6f;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
    font-size: 16px;
}
.m-b-30{
    margin-bottom: 30px;
}

/*
 * Enhance Navbar
 * 1. Make navbar transparent default with fullscreen image
 * 2. Make navbar from white to color when scrolling
 */




/* footer-component */
@media (max-width: 575px) {
    #footer{
        font-size: 1.2rem;
    }
    .mr-auto-sm {
        margin-right: auto!important;
    }
    .text-align-sm {
        text-align: center;
    }
}