.time-card:nth-child(1) {
 	order: 1;
}

.time-card:nth-child(2) {
 	order: 4;
}

.time-card:nth-child(3) {
  	order: 2;
}

.time-card:nth-child(4) {
  	order: 5;
}

.time-card:nth-child(5) {
  	order: 3;
}

.time-card:nth-child(6) {
  	order: 6;
}

* {
 	box-sizing: border-box;
}

#about-header {
	margin: 25px auto;
	padding: 0;
}

#current-year {
	font-size: 4.0em;
	margin: 120px auto;
	z-index: 3;
}

div .quote-row {
	margin-top: 50px;
	margin-bottom: 120px;
}

#feature-quote {
	width: 45%;
	font-size: 3.0em;
	margin: 0 auto;
}

div .hero-img {
	height: 450px;
	width: 100%;
	background: url('https://placeimg.com/1280/450/tech') no-repeat;
	background-size: cover;
	margin: 25px 0;
}

#timeline {
	padding: 25px 0;
}

#timeline .time-card-wrapper {
	position: relative;
	margin: auto;
}

@media (min-width: 1000px) {
	#timeline .time-card-wrapper {
		display: flex;
		flex-flow: column wrap;
		width: 1170px;
		height: 1650px;
		margin: 0 auto;
	}
}

#timeline .time-card-wrapper::after {
	z-index: 1;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	border-left: 1px solid rgba(191, 191, 191, 0.4);
}

@media (min-width: 1000px) {
	#timeline .time-card-wrapper::after {
		border-left: 5px solid #bdbdbd;
	}
}

#timeline .time-card {
	position: relative;
	display: block;
	margin: 10px auto 80px;
	max-width: 94%;
	z-index: 2;
}

@media (min-width: 480px) {
	#timeline .time-card {
		max-width: 60%;
		box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
	}
}

@media (min-width: 720px) {
	#timeline .time-card {
		max-width: 40%;
	}
}

@media (min-width: 1000px) {
	#timeline .time-card {
		max-width: 450px;
		height: 400px;
		margin: 90px;
		margin-top: 45px;
		margin-bottom: 45px;
	}

	#timeline .time-card:nth-child(odd) {
		margin-right: 45px;
	}

	#timeline .time-card:nth-child(odd) .head::after {
		border-left-width: 15px;
		border-left-style: solid;
		left: 100%;
	}

	#timeline .time-card:nth-child(odd) .head::before {
		left: 491.5px;
	}

	#timeline .time-card:nth-child(even) {
		margin-left: 45px;
	}

	#timeline .time-card:nth-child(even) .head::after {
		border-right-width: 15px;
		border-right-style: solid;
		right: 100%;
	}

	#timeline .time-card:nth-child(even) .head::before {
		right: 489.5px;
	}

	#timeline .time-card:nth-child(2) {
		margin-top: 180px;
	}
}

#timeline .time-card .head {
	position: relative;
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: 400;
}

#timeline .time-card .head .number-box {
	display: inline;
	float: left;
	margin: 15px;
	padding: 10px;
	font-size: 35px;
	line-height: 35px;
	font-weight: 600;
	background: rgba(0, 0, 0, 0.17); 
}

#timeline .time-card .head h2 {
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: inherit;
	letter-spacing: 2px;
	margin: 0;
	padding-bottom: 6px;
	line-height: 1rem;
}

@media (min-width: 480px) {
	#timeline .time-card .head h2 {
		font-size: 165%;
		line-height: 1.2rem;
	}
}

#timeline .time-card .head h2 span {
	display: block;
	font-size: 0.6rem;
	margin: 0;
}

@media (min-width: 480px) {
	#timeline .time-card .head h2 span {
		font-size: 0.8rem;
	}
}

#timeline .time-card .body {
	background: #fff;
	border: 1px solid rgba(191, 191, 191, 0.4);
	border-top: 0;
	padding: 15px;
}

@media (min-width: 1000px) {
	#timeline .time-card .body {
		height: 315px;
	}
}

#timeline .time-card .body p {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 15px;
}

#timeline .time-card .body img {
	display: block;
	width: 100%;
}

#timeline .time-card--1 {
	background-color: #46b8e9;
}

#timeline .time-card--1 .head::after {
	border-color: #46b8e9;
}

#timeline .time-card--2 {
 	background-color: #3ee9d1;
}

#timeline .time-card--2 .head::after {
  	border-color: #3ee9d1;
}

#timeline .time-card--3 {
  	background-color: #ce43eb;
}

#timeline .time-card--3 .head::after {
  	border-color: #ce43eb;
}

#timeline .time-card--4 {
  	background-color: #4d92eb;
}

#timeline .time-card--4 .head::after {
  	border-color: #4d92eb;
}

#timeline .time-card--5 {
  	background-color: #46b8e9;
}

#timeline .time-card--5 .head::after {
  	border-color: #46b8e9;
}

#found-year {
	font-size: 4.0em;
	margin: 20px auto 50px;
}
