#cover-wrapper {
	height: 100%;
}

#cover-wrapper div.cover-image {
	background-image: url('/img/about/cover-bg.png');
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
}

p.cover-text {
	color: #696969;
	font-size: 4.0rem;
	padding-top: 7%;
	font-family: 'Titillium Web', sans-serif;
}