/*
* @Author: vayne
* @Date:   2017-10-20 15:45:58
* @Last Modified by:   vayne
* @Last Modified time: 2017-10-20 17:09:53
*/
.m-b-30{
    margin-bottom: 30px;
}

.input-bg-color{
    background-color: #dadada;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #dadada;
    text-align: center;
    vertical-align: center;
}