#contact-cover-wrapper {
    height: 48%;
}

#contact-cover-wrapper div.cover-image {
    background-image: url('/img/contact/cover-contact.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: center;
    text-align: center;
}

p.cover-text {
    color: #fff;
    font-size: 4.0rem;
    text-shadow: 1px 1px #000;
    font-family: 'Fredoka One', cursive;
    padding-top: 175px;
}

.card-group {
    width: 70%;
    margin-top: 120px;
    margin-bottom: 100px;
    text-align: center;
    font-size: .9rem;
    font-family: 'Roboto', sans-serif;
}

.card-group .card {
    margin: 0 25px;
}

.borderless {
    border: none;
}

img.card-img-top {
    width: 25%;
}

div.card-body {
    padding-top: 25px;
}

div.card-body .align-email {
    padding-top: 15px;
}

div.card-body .align-email a {
    text-decoration: none;
    color: #696969;
}

div.card-body .align-email a:hover {
    color: deepskyblue;
}















.input-bg-color {
    background-color: #dadada;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    text-align: center;
}

@media (max-width: 575px) {
    .flex-column-sm {
        flex-direction: column;
    }
    .align-items-center-sm {
        align-items: center!important;
    }
    .width-25 {
        width: 75%!important;
    }

}
@media (min-width: 1224px){
}