#cover-wrapper {
	height: 100%;
}

#cover-wrapper div.cover-image {
	background-image: url('/img/dms/cover.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
}

p.cover-text {
	color: #fff;
	font-size: 4.0rem;
	text-shadow: 1px 1px #000;
	padding-top: 22%;
	font-family: 'Titillium Web', sans-serif;
}

#content-wrapper {
	margin-top: 8%;
}

#content-wrapper div.dms-cover div.dms-cover-image {
	height: 100%;
	background-image: url('/img/dms/winpac.jpg');
	background-position: center center;
	background-repeat: no-repeat;
}

div.dms-func-interface {
	display: inline-block;
}

div.dms-func-interface img {
	width: 50%;
}

div.dms-func-img-wrapper {
	height: 480px;
}

div.dms-func-img-wrapper div.dms-func-img {
	height: 100%;
	background-image: url('/img/dms/interface_02.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
}

div.table-title {
	text-align: center;
	font-size: 3.5rem;
	margin-bottom: 50px;
}

.table {
	width: 50%;
	text-align: center;
}

tr th {
	text-align: center;
}

tr.table-row-header {
	text-align: center;
	font-size: 1.5rem;
	color: #bdbdbd;
}