/* Interactive model public style */
.opacity-0 {
    filter: opacity(0)!important;
    -webkit-filter: opacity(0)!important;
    -moz-filter: opacity(0)!important;
    -ms-filter: opacity(0)!important;
    -o-filter: opacity(0)!important;
    filter: opacity(0)!important;
}

.opacity-20 {
    filter: opacity(20%)!important;
    -webkit-filter: opacity(20%)!important;
    -moz-filter: opacity(20%)!important;
    -ms-filter: opacity(20%)!important;
    -o-filter: opacity(20%)!important;
    filter: opacity(20%)!important;
}

.opacity-80 {
    filter: opacity(80%)!important;
    -webkit-filter: opacity(80%)!important;
    -moz-filter: opacity(80%)!important;
    -ms-filter: opacity(80%)!important;
    -o-filter: opacity(80%)!important;
    filter: opacity(80%)!important;
}

.opacity-100 {
    filter: opacity(100)!important;
    -webkit-filter: opacity(100)!important;
    -moz-filter: opacity(100)!important;
    -ms-filter: opacity(100)!important;
    -o-filter: opacity(100)!important;
    filter: opacity(100)!important;
}

.z-index-9 {
    z-index: 9;
}

.z-index-10 {
    z-index: 10;
}

.z-index-11 {
    z-index: 11;
}
/* Interactive model public style end */



#vision-wrapper {
    height: 480px;
    text-align: center;
    background-color: blue;
}

#sip-particles {
    position: relative;
}

.sysint-wrapper {
    width: 100%;
    height: 640px;
    margin-top: 0;
    text-align: center;
}

.color-gradient {
    background: #999;
    background: -webkit-linear-gradient(top left, Turquoise, DeepSkyBlue);
    background: -o-linear-gradient(top left, Turquoise, DeepSkyBlue);
    background: linear-gradient(to bottom right, Turquoise, DeepSkyBlue);
}

#sip-intro {
    position: absolute;
    color: #fff;
    width: 35%;
    top: 29%;
    left: 33%;
}

#sip-intro h1 {
    font-size: 3.2rem;
    font-family: 'Titillium Web', sans-serif;
}

#sip-intro p {
    font-size: 1.4rem;
    padding-top: 15px;
}

.btn {
    margin-top: 25px;
}

.btn:hover {
    color: DeepSkyBlue;
    cursor: pointer;
}

.custom-wrapper {
    height: 650px;
    width: 100%;
    background-color: #000;
}

.video-wrapper {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
}

#zero-bg-video {
    width: 100%;
    height: auto;
    background-size: cover;
    z-index: 0;
    opacity: 0.8;
}

.text-overlay {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 0;
    font-size: 3.0rem;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.text-overlay p {
    font-family: 'Titillium Web', sans-serif;
}

.client-wrapper {
    text-align: center;
}

.client-wrapper h1 {
    padding-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.client-showcase {
    width: 100%;
    margin-bottom: 100px;
}

.client-showcase .client-table {
    margin: auto;
    width: 50% !important;
}

.client-table td {
    text-align: center;
    border: 0;
    padding: 25px;
}