.ad1 {
    background-image: url('/img/home/cover-room.jpg');
}

.ad2 {
    background-image: url('/img/home/cover-curtain.jpg');
}

.ad3 {
    background-image: url('/img/home/cover-tv.jpg');
}

.ad4 {
    background-image: url('/img/home/cover-light.jpg');
}

.ad5 {
    background-image: url('/img/home/cover-music.jpg');
}

.ad6 {
    background-image: url('/img/home/cover-rs.jpg');
}

.cover-img {
    height: 680px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-img-text {
    color: #fff;
    text-align: center;
    font-size: 3.5rem;
    padding-top: 300px;
    text-shadow: 1px 1px #000;
}

div.home-prod-wrapper {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
}

.figure img {
    padding: 0 60px;
}

.figure-caption {
    font-size: 1.2rem;
    padding-top: 15px;
}

figure a {
    color: #868e96;
}

figure a:hover {
    text-decoration: none;
    color: #222;
}

figure a img:hover {
    position: relative;
    top: -10px;
}

.sysint-wrapper {
    width: 100%;
    height: 650px;
    margin-top: 0;
    margin-bottom: 200px;
    text-align: center;
}

.color-gradient {
    background: #999;
    background: -webkit-linear-gradient(top left, Turquoise, DeepSkyBlue);
    background: -o-linear-gradient(top left, Turquoise, DeepSkyBlue);
    background: linear-gradient(to bottom right, Turquoise, DeepSkyBlue); 
}

h1.sysint-title {
    font-size: 2.5rem;
    color: #fff;
    z-index: 999;
    padding-top: 200px;
    text-transform: uppercase;
}

.btn {
    margin-top: 25px;
}

.btn:hover {
    color: DeepSkyBlue;
    cursor: pointer;
}

p.sysint-intro {
    font-size: 1.5rem;
    color: #fff;
    width: 45%;
    padding-top: 15px;
}

.dms-wrapper {
    margin-bottom: 200px;
    width: 80%;
    position: relative;
}

img.dms-device {
    position: absolute;
    height: 615px;
    top: -11%;
    left: 15%;
}

.dms-device-intro {
    width: 35%;
    margin-left: 55%;
    text-align: center;
}

.dms-device-intro h2 {
    padding-top: 50px;
    margin-bottom: 35px;
}

tr.hotel-service-list {
    border: none;
}

.borderless td {
    border: none;
    padding-top: 35px;
}

.borderless td img {
    width: 60%;
}

td a img:hover {
    position: relative;
    top: -10px;
}

/* Modification Ends */

// @media (max-width: 575px) {
//     h1 {
//         font-size: 2rem;
//     }
//     .width-25 {
//         width: 75%;
//     }
//     .padding-sm {
//         padding: 1rem;
//     }
//     .card-img-overlay-sm {
//         position: relative;
//         top: 10px;
//         right: 0;
//         bottom: 0;
//         left: 0;
//         padding: 1.25rem;
//     }
//     .color-black-sm {
//         color: black;
//     }
// }

// @media only screen and (min-width: 768px) and (max-width: 1024px) {
//     .width-25 {
//         width: 50%;
//     }
// }

// @media (min-width: 1224px) {
//     .width-25 {
//         width: 25%;
//     }
//     .img-fluid {
//         max-width: 100%;
//         height: 100vh;
//     }
//     .txt_integration_title {
//         font-family: OpenSans;
//         font-size: 48px;
//         font-weight: 800;
//         line-height: 1;
//         text-align: left;
//         color: #ffffff;
//         text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
//     }
//     .General-introduction {
//         font-family: OpenSans;
//         font-size: 20px;
//         text-align: left;
//         color: #ffffff;
//         text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
//     }
//     .m-l-93{
//         margin-left: 93px;
//     }
//     .txt_one_device {
//         font-family: OpenSans;
//         font-size: 48px;
//         font-weight: 800;
//         text-align: left;
//         color: #4a4a4a;
//     }
//     .General-infomation-a {
//         font-family: OpenSans;
//         font-size: 20px;
//         line-height: 0.9;
//         text-align: left;
//         color: #4a4a4a;
//     }
//     .img_system{
//         max-width: 100%;
//         height: 300px;
//     }
//     .m-l-200 {
//         margin-left: 215px;
//     }
//     .card-xl {
//         position: relative;
//         display: -ms-flexbox;
//         display: flex;
//         -ms-flex-direction: column;
//         flex-direction: column;
//         min-width: 0;
//         word-wrap: break-word;
//         background-color: #fff;
//         background-clip: border-box;
//         border: 1px solid rgba(0, 0, 0, .125);
//         border-radius: .25rem;
//     }
//     .card-img-overlay-xl {
//         position: absolute;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
//         padding: 1.25rem;
//     }
//     .ZERO-DOWN-ZERO-WIRE {
//         font-family: OpenSans;
//         font-size: 64px;
//         font-weight: 800;
//         text-align: left;
//         color: #ffffff;
//         text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
//     }
//     .txt_our_clients {
//         font-family: OpenSans;
//         font-size: 52px;
//         font-weight: 800;
//         text-align: left;
//         color: #4a4a4a;
//     }
//     .number {
//         font-family: OpenSans;
//         font-size: 64px;
//         text-align: left;
//         color: #4a4a4a;
//     }
//     .client_logo{
//         width: 120px;
//         height: 120px;
//     }
// }