/* Interactive model public style */
.opacity-0 {
    filter: opacity(0)!important;
    -webkit-filter: opacity(0)!important;
    -moz-filter: opacity(0)!important;
    -ms-filter: opacity(0)!important;
    -o-filter: opacity(0)!important;
    filter: opacity(0)!important;
}

.opacity-20 {
    filter: opacity(20%)!important;
    -webkit-filter: opacity(20%)!important;
    -moz-filter: opacity(20%)!important;
    -ms-filter: opacity(20%)!important;
    -o-filter: opacity(20%)!important;
    filter: opacity(20%)!important;
}

.opacity-80 {
    filter: opacity(80%)!important;
    -webkit-filter: opacity(80%)!important;
    -moz-filter: opacity(80%)!important;
    -ms-filter: opacity(80%)!important;
    -o-filter: opacity(80%)!important;
    filter: opacity(80%)!important;
}

.opacity-100 {
    filter: opacity(100)!important;
    -webkit-filter: opacity(100)!important;
    -moz-filter: opacity(100)!important;
    -ms-filter: opacity(100)!important;
    -o-filter: opacity(100)!important;
    filter: opacity(100)!important;
}

.z-index-9 {
    z-index: 9;
}

.z-index-10 {
    z-index: 10;
}

.z-index-11 {
    z-index: 11;
}
/* Interactive model public style end */

#sip-particles {
    position: relative;
}

.sysint-wrapper {
    width: 100%;
    height: 640px;
    margin-top: 0;
    text-align: center;
}

.color-gradient {
    background: #999;
    background: -webkit-linear-gradient(top left, Turquoise, DeepSkyBlue);
    background: -o-linear-gradient(top left, Turquoise, DeepSkyBlue);
    background: linear-gradient(to bottom right, Turquoise, DeepSkyBlue);
}

#sip-intro {
    position: absolute;
    color: #fff;
    width: 35%;
    top: 29%;
    left: 33%;
}

#sip-intro h1 {
    font-size: 3.2rem;
    font-family: 'Titillium Web', sans-serif;
}

#sip-intro p {
    font-size: 1.4rem;
    padding-top: 15px;
}

#si-btn {
    margin-top: 25px;
}

#si-btn:hover {
    color: DeepSkyBlue;
    cursor: pointer;
}

#mission-wrapper {
    width: 100%;
    height: 480px;
}

#mission-content-wrapper {
    width: 35%;
    height: 100%;
    padding-top: 120px;
    text-align: center;
    margin: 0 auto;
}

#mission-content-wrapper h1 {
    font-size: 3.2rem;
    padding-bottom: 25px;
    font-family: 'Titillium Web', sans-serif;
}

#mission-content-wrapper p {
    font-size: 1.4rem;
    padding-bottom: 20px;
}

.products-wrapper {
    height: 650px;
    width: 85%;
    margin: 100px 0;
}

.card-body a {
    text-align: center;
}

.client-wrapper {
    text-align: center;
}

.client-wrapper h1 {
    padding-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.client-showcase {
    width: 100%;
    margin-bottom: 100px;
}

.client-showcase .client-table {
    margin: auto;
    width: 50% !important;
}

.client-table td {
    text-align: center;
    border: 0;
    padding: 25px;
}