/* phone appear animation */

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-duration: 1.5s;
    animation-name: fadeInUp;
}


.grayscale {
    filter: grayscale(1);
    transition: filter 0.1s ease;
}

.opacity0 {
    filter: opacity(0);
    transition: filter 1s ease;
}

.opacity100 {
    filter: opacity(100);
    transition: filter 1s ease;
}


/* Room Controller Interactive Module */

.room-ctrl-container {
    width: 100%;
    position: relative;
}

.phone-interface-title {
    position: absolute;
    top: 20%;
    color: white;
}

#room-ctrl-original-img {
    width: 100%;
    position: relative;
}

#room-ctrl-monochrome-img {
    width: 100%;
    position: absolute;
}

#room-ctrl-init-btn {
    height: 13%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 27%;
    font-size: 3rem;
    color: white;
    border: 5px solid white;
}

#room-ctrl-phone {
    width: 98%;
    position: absolute;
    right: 2%;
    bottom: -1%;
}

#room-ctrl-rolling {
    width: 40%;
    height: 20%;
    position: absolute;
    top: 25%;
    transform: rotate(130deg);
}





/* click icon-finger after phone container */

#room-ctrl-phone-container-hotel-ser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 65%;
    position: absolute;
    bottom: 2%;
    right: 5%;
    text-align: center;
}

#room-ctrl-phone-bg {
    width: 85%;
    position: absolute;
}

#room-ctrl-phone-ctrl-option {
    width: 80%;
    position: absolute;
}

#room-ctrl-phone-ctrl-hotel-ser {
    width: 40%;
    position: absolute;
    top: 30%;
    left: 50.1%;
}

#room-ctrl-phone-ctrl-room-ser {
    width: 40%;
    position: absolute;
    top: 30%;
    right: 50%;
}

#room-ctrl-phone-ctrl-open-btn {
    width: 20%;
    position: absolute;
    top: 46%;
}

/* dining car  */

#room-ctrl-hotel-ser {
    width: 23%;
    position: absolute;
    bottom: 20%;
    right: 57%;
}

/* room control  phone container */

#room-ctrl-phone-container-room-ctrl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 65%;
    position: absolute;
    bottom: 2%;
    right: 5%;
    text-align: center;
}

#room-ctrl-icon-callback {
    width: 5%;
    position: absolute;
    top: 20%;
    left: 20%;
}

/* room control interface's icon */

#phone-room-ctrl-icon {
    width: 20%;
    position: absolute;
    top: 30%;
}

#phone-room-ctrl-icon-air {
    width: 25%;
    position: absolute;
    top: 43%;
    left: 20%;
}

#phone-room-ctrl-icon-light {
    width: 25%;
    position: absolute;
    top: 43%;
    right: 20%;
}

#phone-room-ctrl-icon-tv {
    width: 25%;
    position: absolute;
    top: 63%;
    left: 20%;
}

#phone-room-ctrl-icon-curtain {
    width: 25%;
    position: absolute;
    top: 63%;
    right: 20%;
}

/* room equipment img position css*/

.icon-click-after-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* light control  phone container  */

#room-ctrl-phone-container-light-ctrl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 65%;
    position: absolute;
    bottom: 2%;
    right: 5%;
    text-align: center;
}

#light-ctrl-icon-callback {
    width: 5%;
    position: absolute;
    top: 20%;
    left: 20%;
}

/* light control interface's icon */

#bed-light {
    width: 25%;
    position: absolute;
    top: 30%;
    left: 20%;
}

#main-light {
    width: 25%;
    position: absolute;
    top: 30%;
    right: 20%;
}

#bathroom-light {
    width: 25%;
    position: absolute;
    top: 47%;
    left: 20%;
}

#office-light {
    width: 25%;
    position: absolute;
    top: 47%;
    right: 20%;
}

#ground-light {
    width: 25%;
    position: absolute;
    top: 65%;
    left: 20%;
}

#corridor-light {
    width: 25%;
    position: absolute;
    top: 65%;
    right: 20%;
}
/* Room Controller Interactive Module end