#cover-wrapper {
    height: 100%;
}

#cover-wrapper div.cover-image {
    background-image: url('/img/sru/cover.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

p.cover-text {
    color: #fff;
    font-size: 4.0rem;
    text-shadow: 1px 1px #000;
    padding-top: 22%;
    font-family: 'Titillium Web', sans-serif;
}

#content-wrapper {
    margin: 0 auto;
}

.intro-wrapper {
    height: 180px;
    width: 65%;
    margin-top: 6%;
    margin-bottom: 9%;
}

.src-content {
    font-size: 1.3rem;
}

.dms-wrapper {
    margin-bottom: 250px;
    width: 80%;
    position: relative;
}

.func-wrapper {
    height: 120px;
    width: 68%;
}

img.dms-device {
    position: absolute;
    height: 615px;
    top: -11%;
    left: 15%;
}

.dms-device-intro {
    width: 35%;
    margin-left: 55%;
    text-align: center;
}

.dms-device-intro h2 {
    padding-top: 50px;
    margin-bottom: 35px;
    font-size: 1.3rem;
}

tr.hotel-service-list {
    border: none;
}

.borderless td {
    border: none;
    padding-top: 35px;
}

.borderless td img {
    width: 60%;
}

.poster {
    background-size: cover;
}

.card-deepblue {
    background-color: #292C44;
}

.card-red {
    background-color: #FF5349;
}

.card-aqua {
    background-color: #18CDCA;
}

.card-skyblue {
    background-color: #4F80E1;
}

p.card-text {
    color: #fff;
}
