#cover-wrapper {
    height: 100%;
}

#cover-wrapper div.cover-image {
    background-image: url('');
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

p.cover-text {
    color: #fff;
    font-size: 4.0rem;
    text-shadow: 1px 1px #000;
    padding-top: 380px;
    font-family: 'Titillium Web', sans-serif;
}

#content-wrapper {
    margin: 15% auto;
}

.dms-wrapper {
    margin-bottom: 250px;
    width: 80%;
    position: relative;
}

img.dms-device {
    position: absolute;
    height: 615px;
    top: -11%;
    left: 15%;
}

.dms-device-intro {
    width: 35%;
    margin-left: 55%;
    text-align: center;
}

.dms-device-intro h2 {
    padding-top: 50px;
    margin-bottom: 35px;
    font-size: 1.3rem;
}

tr.hotel-service-list {
    border: none;
}

.borderless td {
    border: none;
    padding-top: 35px;
}

.borderless td img {
    width: 60%;
}

.poster {
    background-size: cover;
}
