#cover-wrapper {
	height: 100%;
}

#cover-wrapper div.cover-image {
	background-image: url('/img/sysint/cover.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
}

p.cover-text {
	color: #fff;
	font-size: 4.0rem;
	text-shadow: 1px 1px #000;
	font-family: 'Titillium Web', sans-serif;
	padding-top: 22%;
}

#content-wrapper div.sysint-text {
	width: 980px;
	font-size: 2.1rem;
	margin: 120px 0;
}

div.sysint-func-wrapper {
	margin-bottom: 120px;
	text-align: center;
}

p.sysint-func-intro {
	font-size: 1.5rem;
	padding-bottom: 25px;
}

.figure {
	text-align: center;
	font-size: 1.3rem;
	margin: 0 30px;
}

.figure img {
	width: 108px;
}

.figure-caption {
	padding-top: 10px;
}

div.sysint-img {
	height: 550px;
}

div.sysint-img div.sysint-coverimg {
	height: 100%;
	background-image: url('/img/sysint/onestop-solu.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
}

p.sysint-cover-text {
	color: #fff;
	font-size: 4.0rem;
	text-shadow: 1px 1px #000;
	padding-top: 15%;
	font-family: 'Titillium Web', sans-serif;
}

#sysint-card-wrapper {
	margin-top: 6%;
	margin-left: 3%;
	margin-right: 3%;
}
