/*
* @Author: vayne
* @Date:   2017-10-27 11:55:38
* @Last Modified by:   vayne
* @Last Modified time: 2017-10-31 15:05:43
*/

@media (max-width: 575px) {
    .width-50 {
        width: 100%;
    }
    .Walkie-Talkie {
        font-family: NotoSans;
        font-size: 2.5rem;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: #ffffff;
    }
        .Radios {
        font-family: OpenSans;
        font-size: 1rem;
        font-weight: 800;
        font-style: italic;
        text-align: justify;
        color: #9b9b9b;
    }
    .Accessories {
        font-family: OpenSans;
        font-size: 1rem;
        font-weight: 800;
        font-style: italic;
        text-align: justify;
        color: #9b9b9b;
    }
    .-Way-Radios {
        font-family: OpenSans;
        font-size: 1rem;
        font-weight: 800;
        font-style: italic;
        text-align: justify;
        color: #9b9b9b;
    }
}

@media (min-width: 1224px) {
    .width-50 {
        width: 50%;
    }
    .img-fluid {
        max-width: 100%;
        height: 100vh;
    }
    .Walkie-Talkie {
        font-family: NotoSans;
        font-size: 4.5rem;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: #ffffff;
    }
    .Radios {
        font-family: OpenSans;
        font-size: 2.25rem;
        font-weight: 800;
        font-style: italic;
        text-align: justify;
        color: #9b9b9b;
    }
    .Accessories {
        font-family: OpenSans;
        font-size: 2.25rem;
        font-weight: 800;
        font-style: italic;
        text-align: justify;
        color: #9b9b9b;
    }
    .-Way-Radios {
        font-family: OpenSans;
        font-size: 2.25rem;
        font-weight: 800;
        font-style: italic;
        text-align: justify;
        color: #9b9b9b;
    }
}