#cover-wrapper {
    height: 100%;
}

#cover-wrapper div.cover-image {
    background-image: url('/img/wireless/cover.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
